@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.hero {
    background-color: #1f2937;
    padding: 0px 96px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 96px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 40px;
}

.links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 96px;
    gap: 40px;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 20px 0;
}

button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 18px;
}

.image-placeholder img {
    width: 600px;
    height: 300px;
    object-fit: cover;
}

.info {
    text-align: center;
    padding: 40px 0 90px;
}

.info h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-top: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 80px 96px;
}

.card{
    width: 180px;
    text-align: center;
}

.card img {
    width: 180px;
    height: 180px;
    border: 3px solid #3882f6;
    border-radius: 12px;

}

.card img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.card p {
    font-size: 18px;
    line-height: 1.2;
    margin-top: 10px;
}

.quote {
    background-color: #e5e7eb;
    padding: 80px 96px;
}

.quote p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 36px;
    color: #1f2937; 
    font-style: italic;
    line-height: 1.4;
    text-align: center;
}

.quote strong {
    display: block;
    font-size: 20px;
    color: #1f2937;
    text-align: right;
    max-width: 800px;
    margin: 20px auto 0;
}

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    margin: 80px 96px;
    padding: 40px 80px;
    border-radius: 8px;
}

.cta h3 {
    color: #f9faf8;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 8px;
}

.cta p {
    color: #e5e7eb;
    font-size: 18px;
}

.cta button {
    background-color: transparent;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 18px;
}

footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 40px 80px;
}